.map{
    @extend .devices;
    &__content{
        @extend .story__content;
        &-title{
            margin-top: 15px;
            margin-bottom: 15px;
            @include fontStyle(24px,$red,normal);
            font-family: $fontMont;
            text-transform: uppercase;
        }
        &-line{
            background-color:$red;
            height: 3px;
            width: 64px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}