.modal{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: rgba($color: $black, $alpha: 0.9);
    height: 100vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    left: 0;
    &__img{
        @include positionCenter;
    }
    &.show{
        opacity: 1;
        visibility: visible;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}